<html>
<head>
    <title>Book Added - Berties Books</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Book Successfully Added!</h1>
    <p>The book has been added to the database with price.</p>
    <a href="/books/list">View All Books</a> | 
    <a href="/books/addbook">Add Another Book</a>
</body>
</html> 